/* {
    border: 1px solid red;
}

body {
    text-align: center;
}*/

h1 {
    text-align: center;
}

nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

.main-para {
    width: 80%;
    font-size: 1.2em;
    margin: 50px auto;
    text-align: center;
}

#active {
    color: solid red;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

a:hover {

    color: red;
}

a {
    font-size: 0.8em;
}
